.radio-group--html-fieldset {
  border-width: 0;
}

.radio-group__label--html-legend {
  padding-inline: 0;
}

.radio-group--inline {
  display: inline-flex;
  gap: var(--radio-group-inline-gap, 2ch);
}
