.utrecht-theme {
  --todo-form-margin-block-start: var(--utrecht-space-block-xl);
  --todo-form-header-title-font-size: var(--utrecht-heading-1-font-size);
  --todo-form-header-title-font-weight: var(--utrecht-heading-1-font-weight, var(--utrecht-heading-font-weight, bold));
  --todo-form-header-font-family: var(--utrecht-heading-1-font-family);
  --todo-form-header-padding-inline-start: var(--utrecht-page-padding-inline-start);
  --todo-form-header-padding-inline-end: var(--utrecht-page-padding-inline-end);
  --utrecht-page-footer-max-inline-size: 100%;
  --utrecht-typography-sans-serif-font-family: "Lucida Grande", arial, sans-serif;
  --utrecht-document-font-family: "Lucida Grande", arial, sans-serif;
  --todo-button-group-gap: var(--utrecht-space-inline-sm);
  --todo-form-field-group-gap: var(--utrecht-space-inline-sm);
  --todo-button-group-padding-block-start: var(--utrecht-button-margin-block-start);
  --utrecht-form-field-margin-block-start: 13px;
  --todo-utrecht-form-label-margin-inline-start: var(--utrecht-space-inline-sm);
  --todo-radio-group-gap: var(--utrecht-space-inline-lg);
  --denhaag-form-progress-progress-bar-background-color: var(--utrecht-color-blue-40);
  --denhaag-form-progress-progress-height: 2px;
  --denhaag-form-progress-header-margin-block-end: var(--utrecht-space-block-md);
  --utrecht-page-margin-inline-end: 0px;
  --utrecht-page-margin-inline-start: 0px;
  --utrecht-page-max-inline-size: auto;
  --utrecht-page-background-color: var(--utrecht-color-grey-95, red);
  --utrecht-page-content-max-inline-size: 1184px;
  --utrecht-page-content-padding-inline-end: 2em;
  --utrecht-page-content-padding-inline-start: 2em;
  --utrecht-page-content-background-color: var(--utrecht-color-white);
  --utrecht-page-padding-block-end: 0px;
  --utrecht-page-padding-block-start: 0px;
  --utrecht-page-padding-inline-end: 0px;
  --utrecht-page-padding-inline-start: 0px;
  --denhaag-form-progress-progress-background-color: var(--utrecht-color-blue-90);
  /* --utrecht-page-footer-padding-block-end: 40px; Based on Figma */
  /* --utrecht-page-footer-padding-block-start: 40px; Based on Figma */
  /* --utrecht-page-footer-padding-inline-end: 99px; Based on Figma */
  /* --utrecht-page-footer-padding-inline-start: 99px; Based on Figma */
  /* --utrecht-page-header-padding-inline-end: 100px; */
  /* --utrecht-page-header-padding-inline-start: 105px; */
  --utrecht-page-header-background-color: var(--utrecht-color-white);
  --utrecht-page-header-max-inline-size: 1184px;
  --utrecht-page-footer-margin-block-start: -20px;
  --utrecht-page-content-z-index: 30;
  --utrecht-page-footer-z-index: 20;
  --utrecht-form-field-description-invalid-color: var(--utrecht-color-red-40);
  --utrecht-form-input-invalid-border-color: var(
    --utrecht-color-red-40
  ); /* Is now red-30 in the design token assignment */

  /* Rijkshuisstijl test */
  --denhaag-datepicker-width: 177px;
  --denhaag-datepicker-input-border-color: white;
  --denhaag-datepicker-input-border-radius: 0px;
  --denhaag-datepicker-input-border-style: none;
  --denhaag-datepicker-input-border-width: 0px;
  --denhaag-datepicker-input-background-color: white;
  --denhaag-datepicker-input-color: black;
  --denhaag-datepicker-input-font-size: 18px;
  --denhaag-datepicker-input-height: 44px;
  --denhaag-datepicker-input-line-height: 44px;
  --denhaag-datepicker-input-padding-inline: 0;
  --denhaag-datepicker-input-placeholder-color: grey; /*??*/
  --denhaag-datepicker-input-hover-border-color: rgb(114, 150, 223); /*??*/
  --denhaag-datepicker-input-hover-border-width: 1px;
  --denhaag-datepicker-button-color: white;
  --todo-denhaag-datepicker-button-background-color: #01689b;
  --todo-denhaag-datepicker-button-width: 44px;
  --denhaag-datepicker-button-inset-inline-end: -44px;
  --denhaag-datepicker-button-font-size: 24px;
  --denhaag-datepicker-calendar-border-color: #ddeff8;
  /* --denhaag-datepicker-calendar-border-radius */
  /* --denhaag-datepicker-calendar-border-style */
  /* --denhaag-datepicker-calendar-border-width */
  --denhaag-datepicker-calendar-background-color: #ddeff8;
  --denhaag-datepicker-calendar-padding-inline: 44px;
  --denhaag-datepicker-calendar-padding-block-end: 30px;
  --todo-denhaag-datepicker-calendar-table-padding-block-start: 30px;
  --denhaag-datepicker-calendar-header-height: 44px;
  --todo-denhaag-datepicker-calendar-header-background-color: #01689b;
  --todo-denhaag-datepicker-calendar-header-color: white;
  /* --denhaag-datepicker-calendar-header-padding-block-end */
  --denhaag-datepicker-calendar-month-font-size: 20px;
  /* --denhaag-datepicker-calendar-month-line-height */
  /* --denhaag-datepicker-calendar-month-font-weight:  */
  /* --denhaag-datepicker-calendar-heading-color */
  --denhaag-datepicker-calendar-heading-font-weight: 600;
  /* --denhaag-datepicker-calendar-day-border-radius */
  /* --todo-denhaag-datepicker-calendar-day-border-width */
  /* --todo-denhaag-datepicker-calendar-day-border-color */
  --denhaag-datepicker-calendar-day-width: 44px;
  /* --denhaag-datepicker-calendar-day-font-size */
  /* --denhaag-datepicker-calendar-day-line-height */
  /* --denhaag-datepicker-calendar-day-color */
  --todo-denhaag-datepicker-calendar-day-border-width: 2px;
  --todo-denhaag-datepicker-calendar-day-border-color: transparent;
  --denhaag-datepicker-calendar-day-current-background-color: #eef7fb; /*??*/
  /* --denhaag-datepicker-calendar-day-hover-color */
  --todo-denhaag-datepicker-calendar-day-hover-border-color: #007bc7;
  --denhaag-datepicker-calendar-day-selected-background-color: white;
  /* --denhaag-datepicker-calendar-day-selected-color */
  --denhaag-datepicker-calendar-day-selected-hover-background-color: white;
  /* --denhaag-datepicker-calendar-table-border-spacing */
  /* --denhaag-datepicker-calendar-navigation-font-size */
  /* --denhaag-datepicker-disabled-input-border-color" */
  /* --denhaag-datepicker-disabled-input-color" */
  /* --denhaag-datepicker-disabled-button-color */
  /* --denhaag-datepicker-error-icon-color */
  /* --denhaag-datepicker-error-icon-font-size */
  /* --denhaag-datepicker-error-icon-inset-inline-end */
  /* --denhaag-datepicker-error-input-border-color */
  --todo-denhaag-datepicker-calendar-navigation-font-size: 24px;
  --denhaag-focus-border-width: 2px;
  --denhaag-focus-border-style: dotted;
  --denhaag-focus-border-color: black;
  --denhaag-focus-border: var(--denhaag-focus-border-width) var(--denhaag-focus-border-style)
    var(--denhaag-focus-border-color);
}
