.utrecht-theme {
  --todo-form-header-title-font-size: var(--utrecht-heading-1-font-size);
  --todo-form-header-title-font-weight: var(--utrecht-heading-1-font-weight, var(--utrecht-heading-font-weight, bold));
  --todo-form-header-font-family: var(--utrecht-heading-1-font-family);
  --todo-form-header-padding-inline-start: var(--utrecht-page-padding-inline-start);
  --todo-form-header-padding-inline-end: var(--utrecht-page-padding-inline-end);
  --utrecht-page-footer-max-inline-size: 100%;
  --utrecht-typography-sans-serif-font-family: 'Lucida Grande', Arial, sans-serif;
    --utrecht-document-font-family: 'Lucida Grande', Arial, sans-serif;
}
